<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>
            <a href="/" >{% t global.english %}</a>
            <a href="/da" >{% t global.danish %}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
